.container__big-card {
  margin: 0 10px;

  width: 550px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.big-card__title > h1 {
  margin: 15px 0 0 0;
  font-size: 20px;
}

.big-card__description {
  margin: 20px 0 0 0;
}

.big-card__description > p > a{
  color: gray;
}


.big-card__photo {
  width: 100%;
}

.big-card__photo > img {
  width: 100%;
  min-width: 400px;
}
