.container__small-card {
  width: 900px;
  margin: 0 0 15px 0;
}

.container__small-card-content {
  display: flex;
}

.small-card__photo > a > img {
  width: 300px;
  min-width: 200px;

  margin: 0 20px 0 0;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card__title > h1 {
  font-size: 30px;
}

.container__small-card__separator {
  margin: 10px 0 0 0;
}
